@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  min-height: 100vh;
  color: white;
  background: #000;
}

.bgimg {
  background-image: url("./assets/newbg.svg");
  background-size: cover;
  background-position: 20%;
  background-repeat: no-repeat;
}

.globe {
  background-image: url("./assets/Globe.svg");
  background-repeat: no-repeat;
}

.globe_mobile {
  background-image: url("./assets/GlobeMobile.png");
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
}

.loop {
  background-image: url("./assets/stayLoop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.transitions {
  animation-duration: 0.7s;
  animation-name: animate-item;
}

@keyframes animate-item {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY();
  }
}

.img_animation {
  animation-duration: 0.7s;
  animation-name: animate-img;
}

@keyframes animate-img {
  0% {
    transform: translateY(540px);
  }
  100% {
    transform: translateY();
  }
}

/* .img_hide{
  animation-duration: 1s;
  animation-name: img-hide;
}

@keyframes img-hide{
  0%{
    transform: translate() scaleY(1);
  }
  100%{
    transform: translateY(-200px) scaleY(0) hidden;
  }
}

/* .animate{
  
} */

@media screen and (max-width: 768px) {
  .bgimg {
    background-image: url("./assets/newbg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left 60%;
  }

  .loop {
    background-image: url("./assets/stayLoop.svg");
    background-repeat: no-repeat;
    background-size: 200vw;
    background-position: center;
  }
}

.gridComponents {
  padding: 12px;
  flex: auto;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

/* ::-webkit-scrollbar-thumb{
  background-color:#084FAA;
  border-radius: 8px;
} */

::-webkit-scrollbar-button {
  background-color: black;
}

::-webkit-scrollbar-track-piece {
  background-color: black;
}
